{% extends'base.html' %}
{% block conteudo %}
     <main class="text-center mt-5 text-black">
        <h2>Social</h2>
        <h1><p>"Projeto de TI nas localidades do RN"</p></h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <div class="text-black">
                     <p> Área em desenvovimento com objetivos:</p>
               </div>
            </div>
         </div>
     </main>
     <main class="text-left mt-1 text-black">
         <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <div class="text-black">
                  <li>Fortalecer a educação com a implantação de ensino de tecnologia da informação no municipios do Rio Grande do Norte.</li>
                  <li>Atrair os jovens para o aprendizado da TI e a exploração do potêncial turístico local por sistemas de divulgação desenvolvidos por alunos.</li>
                  <li>Inserir os jovens aprendiz de TI no mercado de trabalho através de incubadoras.</li>
                  <li>Alavancar a ecônomia local das pequenas cidades do Rio Grande do Norte, através <br>das incubadoras do projeto exploração do potencial turístico nas pequenas cidades.</li>
               </div>
            </div>
         </div>
      </main>
{% endblock %} 